---
import Actions from "@/components/Actions"
import Content from "@/components/Content"
import Header from "@/components/Header.astro"
import { languages } from "@/i18n/ui"
import Layout from "@/layouts/Layout.astro"

export function getStaticPaths() {
  return languages.map((l) => ({
    params: {
      lang: l,
    },
  }))
}

const { lang } = Astro.params
---

<Layout lang={lang}>
  <Header lang={lang} />
  <div class="mx-auto flex min-h-0 w-11/12 max-w-4xl flex-1 gap-4">
    <div class="hidden sm:block">
      <Actions lang={lang} client:load />
    </div>
    <Content lang={lang} client:load />
  </div>
</Layout>
